<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsAppPodpisnieizdania.Properties.Settings.po_16_20_23_KulinariaConnectionString"
            connectionString="Data Source=mssqlstud\sqlexpress;Initial Catalog=po-16-20-23.Kulinaria;Persist Security Info=True;User ID=po-16-20-23"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>